<ion-header [translucent]="true">
	<ion-toolbar class="header-top-box">
		<ion-buttons slot="start" *ngIf="from_page!='wishlist' && from_page!='search'">
			<ion-back-button defaultHref="/tabs/sub-list-page" icon="arrow-back" text=""></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="start" *ngIf="from_page=='search'">
			<ion-back-button defaultHref="/tabs/search" icon="arrow-back" text=""></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="start" *ngIf="from_page=='wishlist'">
			<ion-back-button defaultHref="/tabs/wishlist" icon="arrow-back" text=""></ion-back-button>
		</ion-buttons>
		<ion-title class="ion-text-center"></ion-title>
		<ion-chip slot="end" (click)="makeBookMarkAtRow(resultPoemsDetail.id,0,user_id,1)" *ngIf="resultPoemsDetail.bookmarkStatus == 0">
			<ion-button class="wish-icon">
				<img src="../assets/images/wishlist-icon1.png">
			</ion-button>
		</ion-chip>
		<ion-chip slot="end" (click)="makeBookMarkAtRow(resultPoemsDetail.id,0,user_id,0)" *ngIf="resultPoemsDetail.bookmarkStatus == 1">
			<ion-button class="wish-icon">
				<img src="../assets/images/wishlist-icon2.png">
			</ion-button>
		</ion-chip>
		<ion-chip slot="end" (click)="showMyProfile()">
			<ion-img src="../assets/images/user-icon1.png"></ion-img>
		</ion-chip>
	</ion-toolbar>
  	<!--<ion-toolbar class="header-top-box">
		<ion-buttons slot="start">
			<ion-menu-button>
				<ion-icon name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-text-center"></ion-title>
		<ion-chip slot="end" (click)="showMyProfile()">
			<ion-img src="../assets/images/user-icon1.png"></ion-img>
		</ion-chip>
	</ion-toolbar>-->
</ion-header>

<ion-content>
	<div class="mainContent">
		<div class="pg-title-main">
			<h2 [innerHTML]="resultPoemsDetail.PoemName"></h2>
			<ion-button class="play-btn" *ngIf="isAudioPlayed == true" (click)="pauseAudio()">
				<ion-icon name="pause-outline"></ion-icon>
			</ion-button>
			<ion-button class="play-btn" *ngIf="isAudioPlayed == false && MP3Link!=''" (click)="playMediaInPOPUP(resultPoemsDetail.id)"><!--BEFORE::playAudio()-->
				<ion-icon name="play-outline"></ion-icon>
			</ion-button>
		</div>
		<!--<div class="nm-icon-list">
			<div class="nm-icon-item">
				<img src="../assets/images/language-icon1.png">
				<p [innerHTML]="resultPoemsDetail.LanguageName"></p>
			</div>						
			<div class="nm-icon-item">
				<img src="../assets/images/microphone-icon1.png">
				<p [innerHTML]="resultPoemsDetail.ReciterName"></p>
			</div>
			<div class="nm-icon-item">
				<img src="../assets/images/pen-icon1.png">
				<p [innerHTML]="resultPoemsDetail.PoetName"></p>
			</div>
			<div class="nm-icon-item">
				<img src="../assets/images/verify-icon1.png">
				<p [innerHTML]="resultPoemsDetail.SubjectName"></p>
			</div>			
			<div class="nm-icon-item" *ngIf="resultPoemsDetail.YouTubeURL!=''" (click)="openYouTubeURL(resultPoemsDetail.YouTubeURL)">
				<img src="../assets/images/youtube-icon1.png">
				<p>youtube</p>
			</div>
			<div class="nm-icon-item">
				<img src="../assets/images/feedback-icon1.png">
				<p>feedback</p>
			</div>
		</div>-->
		<div class="list-of-lines" *ngIf="poemsLine.length > 0">
			<div class="item-of-line" *ngFor="let line of poemsLine;let l = index;">
				<div class="lines-sec">
					<h6 [innerHTML]="line.PoemText" [style.color]="line.colorCode"></h6>
					<div class="trans-lines" *ngIf="line.TranslatedText!=''">
						<h6 [innerHTML]="line.TranslatedText"></h6>
					</div>
				</div>
			</div>
		</div>
		<div class="nm-icon-list">
			<div class="nm-icon-item">
				<img src="../assets/images/language-icon1.png">
				<p [innerHTML]="resultPoemsDetail.LanguageName"></p>
			</div>						
			<div class="nm-icon-item">
				<img src="../assets/images/microphone-icon1.png">
				<p [innerHTML]="resultPoemsDetail.ReciterName"></p>
			</div>
			<div class="nm-icon-item">
				<img src="../assets/images/pen-icon1.png">
				<p [innerHTML]="resultPoemsDetail.PoetName"></p>
			</div>
			<div class="nm-icon-item">
				<img src="../assets/images/verify-icon1.png">
				<p [innerHTML]="resultPoemsDetail.SubjectName"></p>
			</div>			
			<div class="nm-icon-item" *ngIf="resultPoemsDetail.YouTubeURL!=''" (click)="openYouTubeURL(resultPoemsDetail.YouTubeURL)">
				<img src="../assets/images/youtube-icon1.png">
				<p>youtube</p>
			</div>
			<div class="nm-icon-item">
				<img src="../assets/images/feedback-icon1.png">
				<p>feedback</p>
			</div>
		</div>		
	</div>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="isAudioPlayed == false && MP3Link!=''">
	<ion-row class="btm-play-box clr-red">
		<ion-col class="img">
			<img src="../assets/images/icon1.png">
		</ion-col>
		<ion-col class="nms">
			<h5 class="pm-nm">{{resultPoemsDetail.PoemName}}</h5>
			<p class="maker-nm">- {{resultPoemsDetail.PoetName}}</p>
		</ion-col>
		<ion-col class="icon">
			<ion-button class="play-btn" *ngIf="isAudioPlayed == true" (click)="pauseAudio()">
				<ion-icon name="pause-outline"></ion-icon>
			</ion-button>
			<ion-button class="play-btn" *ngIf="isAudioPlayed == false && MP3Link!=''" (click)="playMediaInPOPUP(resultPoemsDetail.id)"><!--BEFORE::playAudio()-->
				<ion-icon name="play-outline"></ion-icon>
			</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>
