<ion-header [translucent]="true">
	<ion-toolbar class="header-top-box">
		<ion-buttons slot="start" *ngIf="from_page!='wishlist'">
			<ion-back-button defaultHref="/tabs/sub-list-page" icon="arrow-back"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="start" *ngIf="from_page=='wishlist'">
			<ion-back-button defaultHref="/tabs/wishlist" icon="arrow-back"></ion-back-button>
		</ion-buttons>
		<ion-title class="ion-text-center"></ion-title>
		<ion-chip slot="end" (click)="showMyProfile()">
			<ion-img src="../assets/images/user-icon1.png"></ion-img>
		</ion-chip>
	</ion-toolbar>
  	<!--<ion-toolbar class="header-top-box">
		<ion-buttons slot="start">
			<ion-menu-button>
				<ion-icon name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-text-center"></ion-title>
		<ion-chip slot="end" (click)="showMyProfile()">
			<ion-img src="../assets/images/user-icon1.png"></ion-img>
		</ion-chip>
	</ion-toolbar>-->
</ion-header>

<ion-content>
	<div class="mainContent">
		<div class="pg-title-main">
			<h2 [innerHTML]="resultPoemsDetail.PoemName"></h2>
			<ion-button class="play-btn" *ngIf="isAudioPlayed == true" (click)="pauseAudio()">
				<ion-icon name="pause-outline"></ion-icon>
			</ion-button>
			<ion-button class="play-btn" *ngIf="isAudioPlayed == false && MP3Link!=''" (click)="playAudio()">
				<ion-icon name="play-outline"></ion-icon>
			</ion-button>
		</div>
		<div class="nm-icon-list">
			<div class="nm-icon-item">
				<img src="../assets/images/microphone-icon1.png">
				<p [innerHTML]="resultPoemsDetail.PoetName"></p>
			</div>
			<div class="nm-icon-item">
				<img src="../assets/images/language-icon1.png">
				<p [innerHTML]="resultPoemsDetail.LanguageName"></p>
			</div>
			<div class="nm-icon-item">
				<img src="../assets/images/pen-icon1.png">
				<p [innerHTML]="resultPoemsDetail.ReciterName"></p>
			</div>
			<div class="nm-icon-item">
				<img src="../assets/images/verify-icon1.png">
				<p *ngIf="resultPoemsDetail.isVerified==1">Verified</p>
				<p *ngIf="resultPoemsDetail.isVerified==0">Not Verified</p>
			</div>
			<div class="nm-icon-item" *ngIf="resultPoemsDetail.YouTubeURL!=''" (click)="openYouTubeURL(resultPoemsDetail.YouTubeURL)">
				<img src="../assets/images/youtube-icon1.png">
				<p>youtube</p>
			</div>
			<div class="nm-icon-item">
				<img src="../assets/images/feedback-icon1.png">
				<p>feedback</p>
			</div>
		</div>
		<div class="list-of-lines" *ngIf="poemsLine.length > 0">
			<div class="item-of-line" *ngFor="let line of poemsLine;let l = index;">
				<!-- <div class="wish-btn-sec" (click)="makeBookMarkAtRow(resultPoemsDetail.id,line.id,user_id)">
					<ion-button class="wish-icon">
						<img src="../assets/images/wishlist-icon1.png" *ngIf="line.PoemBookmark==0">
						<img src="../assets/images/wishlist-icon2.png" *ngIf="line.PoemBookmark==1">
					</ion-button>
				</div> -->
				<div class="lines-sec">
					<h6 [innerHTML]="line.PoemText" [style.color]="line.colorCode"></h6>
					<div class="trans-lines">
						<h6 [innerHTML]="line.TranslatedText"></h6>
					</div>
				</div>
			</div>
		</div>
		<!--REFERENCE::HTML::STARTS-->
		<!--<div class="list-of-lines">
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Ab To Ajaao Shehnshah-e-Wafa</h6>
					<div class="trans-lines">
						<h6>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Ro Ro Kehti Thi Sakina Ran Mein<br>Lut Gaee Saani-e-Zahra Ki Rida<br>Ab To Ajaao Shehnshah-e-Wafa..</h6>
					<div class="trans-lines">
						<h6>Crying aloud, Sakina called out in the battle field,<br>The hijab of the second Zahrā (Zainab) has been snatched!<br>So come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon2.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Shimr Ne Maaray Tamaachay Hai Mere Gaalon Pe<br>Jhirkiyaan De Ke Uthaya Hai Mujhe<br>Baba Ki Laash Pe Ronay Na Diya<br>Ab To Ajaao Shehnshah-e-Wafa...</h6>
					<div class="trans-lines">
						<h6>Shimr has slapped me upon my cheeks,<br>And then he scolds me and makes me get up,<br>He does not let me cry on the body of my father!<br>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Cheen Kar Sab Ki Ridaaein Aur Jalaey Khaimay<br>Aisay Loota Hai Musalmaanon Ne<br>Na Kiya Aal-e-Muhammad Ka Haya<br>Ab To Ajaao Shehnshah-e-Wafa...</h6>
					<div class="trans-lines">
						<h6>They took everyones’ outer coverings and burned the tents,<br>The “Muslims” have raided us in such a manner,<br>They did not have any shame towards Aal e Muhammad!<br>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Ab To Ajaao Shehnshah-e-Wafa</h6>
					<div class="trans-lines">
						<h6>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Ro Ro Kehti Thi Sakina Ran Mein<br>Lut Gaee Saani-e-Zahra Ki Rida<br>Ab To Ajaao Shehnshah-e-Wafa..</h6>
					<div class="trans-lines">
						<h6>Crying aloud, Sakina called out in the battle field,<br>The hijab of the second Zahrā (Zainab) has been snatched!<br>So come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon2.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Shimr Ne Maaray Tamaachay Hai Mere Gaalon Pe<br>Jhirkiyaan De Ke Uthaya Hai Mujhe<br>Baba Ki Laash Pe Ronay Na Diya<br>Ab To Ajaao Shehnshah-e-Wafa...</h6>
					<div class="trans-lines">
						<h6>Shimr has slapped me upon my cheeks,<br>And then he scolds me and makes me get up,<br>He does not let me cry on the body of my father!<br>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Cheen Kar Sab Ki Ridaaein Aur Jalaey Khaimay<br>Aisay Loota Hai Musalmaanon Ne<br>Na Kiya Aal-e-Muhammad Ka Haya<br>Ab To Ajaao Shehnshah-e-Wafa...</h6>
					<div class="trans-lines">
						<h6>They took everyones’ outer coverings and burned the tents,<br>The “Muslims” have raided us in such a manner,<br>They did not have any shame towards Aal e Muhammad!<br>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
		</div>-->
		<!--REFERENCE::HTML::ENDS-->
	</div>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="isAudioPlayed == false && MP3Link!=''">
	<ion-row class="btm-play-box clr-red">
		<ion-col class="img">
			<img src="../assets/images/icon1.png">
		</ion-col>
		<ion-col class="nms">
			<h5 class="pm-nm">{{resultPoemsDetail.PoemName}}</h5>
			<p class="maker-nm">- {{resultPoemsDetail.PoetName}}</p>
		</ion-col>
		<ion-col class="icon">
			<ion-button class="play-btn" *ngIf="isAudioPlayed == true" (click)="pauseAudio()">
				<ion-icon name="pause-outline"></ion-icon>
			</ion-button>
			<ion-button class="play-btn" *ngIf="isAudioPlayed == false && MP3Link!=''" (click)="playAudio()">
				<ion-icon name="play-outline"></ion-icon>
			</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>
