<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>Wishlist</ion-title>    
  </ion-toolbar> -->
  	<ion-toolbar class="header-top-box">
		<ion-buttons slot="start">
			<ion-menu-button>
				<ion-icon name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-text-center"></ion-title>
		<ion-chip slot="end" routerLink="/profile">
			<ion-img src="../assets/images/user-icon1.png"></ion-img>
		</ion-chip>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="mainContent">
		<div class="pg-title-main">
			<h2>Ab To Ajaao Shehnshah-e-Wafa</h2>
			<ion-button class="play-btn" *ngIf="isAudioPlayed == true" (click)="pauseAudio()">
				<ion-icon name="pause-outline"></ion-icon>
			</ion-button>
			<ion-button class="play-btn" *ngIf="isAudioPlayed == false" (click)="playAudio()">
				<ion-icon name="play-outline"></ion-icon>
			</ion-button>
		</div>
		<div class="list-of-lines">
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Ab To Ajaao Shehnshah-e-Wafa</h6>
					<div class="trans-lines">
						<h6>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Ro Ro Kehti Thi Sakina Ran Mein<br>Lut Gaee Saani-e-Zahra Ki Rida<br>Ab To Ajaao Shehnshah-e-Wafa..</h6>
					<div class="trans-lines">
						<h6>Crying aloud, Sakina called out in the battle field,<br>The hijab of the second Zahrā (Zainab) has been snatched!<br>So come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon2.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Shimr Ne Maaray Tamaachay Hai Mere Gaalon Pe<br>Jhirkiyaan De Ke Uthaya Hai Mujhe<br>Baba Ki Laash Pe Ronay Na Diya<br>Ab To Ajaao Shehnshah-e-Wafa...</h6>
					<div class="trans-lines">
						<h6>Shimr has slapped me upon my cheeks,<br>And then he scolds me and makes me get up,<br>He does not let me cry on the body of my father!<br>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Cheen Kar Sab Ki Ridaaein Aur Jalaey Khaimay<br>Aisay Loota Hai Musalmaanon Ne<br>Na Kiya Aal-e-Muhammad Ka Haya<br>Ab To Ajaao Shehnshah-e-Wafa...</h6>
					<div class="trans-lines">
						<h6>They took everyones’ outer coverings and burned the tents,<br>The “Muslims” have raided us in such a manner,<br>They did not have any shame towards Aal e Muhammad!<br>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Ab To Ajaao Shehnshah-e-Wafa</h6>
					<div class="trans-lines">
						<h6>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Ro Ro Kehti Thi Sakina Ran Mein<br>Lut Gaee Saani-e-Zahra Ki Rida<br>Ab To Ajaao Shehnshah-e-Wafa..</h6>
					<div class="trans-lines">
						<h6>Crying aloud, Sakina called out in the battle field,<br>The hijab of the second Zahrā (Zainab) has been snatched!<br>So come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon2.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Shimr Ne Maaray Tamaachay Hai Mere Gaalon Pe<br>Jhirkiyaan De Ke Uthaya Hai Mujhe<br>Baba Ki Laash Pe Ronay Na Diya<br>Ab To Ajaao Shehnshah-e-Wafa...</h6>
					<div class="trans-lines">
						<h6>Shimr has slapped me upon my cheeks,<br>And then he scolds me and makes me get up,<br>He does not let me cry on the body of my father!<br>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
			<div class="item-of-line">
				<div class="wish-btn-sec">
					<ion-button class="wish-icon"><img src="../assets/images/wishlist-icon1.png"></ion-button>
				</div>
				<div class="lines-sec">
					<h6>Cheen Kar Sab Ki Ridaaein Aur Jalaey Khaimay<br>Aisay Loota Hai Musalmaanon Ne<br>Na Kiya Aal-e-Muhammad Ka Haya<br>Ab To Ajaao Shehnshah-e-Wafa...</h6>
					<div class="trans-lines">
						<h6>They took everyones’ outer coverings and burned the tents,<br>The “Muslims” have raided us in such a manner,<br>They did not have any shame towards Aal e Muhammad!<br>Come now (at least), O Master of Loyalty (Abbas (as))!</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-row class="btm-play-box clr-red">
		<ion-col class="img">
			<img src="../assets/images/icon1.png">
		</ion-col>
		<ion-col class="nms">
			<h5 class="pm-nm">Ab To Ajaao Shehnshah-e-Wafa</h5>
			<p class="maker-nm">- Omar Hisham</p>
		</ion-col>
		<ion-col class="icon">
			<ion-button class="play-btn" *ngIf="isAudioPlayed == true" (click)="pauseAudio()">
				<ion-icon name="pause-outline"></ion-icon>
			</ion-button>
			<ion-button class="play-btn" *ngIf="isAudioPlayed == false" (click)="playAudio()">
				<ion-icon name="play-outline"></ion-icon>
			</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>
