<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <!-- <ion-icon name="home"></ion-icon> -->
      <img src="../assets/images/home-icon1.png">
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="search">
      <!-- <ion-icon name="search"></ion-icon> -->
      <img src="../assets/images/search-icon1.png">
      <!-- <ion-label>Search</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="wishlist">
      <!-- <ion-icon name="heart"></ion-icon> -->
      <img src="../assets/images/heart-icon1.png">
      <!-- <ion-label>Wishlist</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <!-- <ion-icon name="notifications"></ion-icon> -->
      <img src="../assets/images/notifications-icon1.png">
      <!-- <ion-label>Notifications</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
