<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <!-- <ion-icon name="home"></ion-icon> -->
      <img src="../assets/images/home-icon1.png">
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="search">
      <img src="../assets/images/search-icon1.png">
    </ion-tab-button>

    <ion-tab-button tab="wishlist">
      <img src="../assets/images/heart-icon1.png">
    </ion-tab-button>

    <!--<ion-tab-button tab="notifications" disabled="true">
      <img src="../assets/images/notifications-icon1.png">
    </ion-tab-button>-->
  </ion-tab-bar>

</ion-tabs>
