<!--<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-icon name="close-circle" class="close-icon" (click)="dismissModal()"></ion-icon>
  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <ion-card-title>Hazrat Abbas(as)</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item lines="none">
      Hazrat Abbas was born at Medina on 7th Rajab/4th Shabaan 26 A.H.(645 A.D.). When the news of his birth reached Hazrat Ali, he prostrated himself on the ground as a token of his humble thanks to God. Imam Hussain took the baby in his arms and recited the Azan and Eqamat (Calls for Prayers) in his right and left ears respectively. Then the new born baby opened his eyes to see the beloved face of Imam Hussain..
      </ion-item>
      <ion-item>
        <ion-img class="add-radius" src="../assets/images/type-img1.png"></ion-img>        
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
