<ion-app>
  <!--BEFORE::BELOW LINE ONLY-->
  <!--<ion-router-outlet></ion-router-outlet>-->
  <!--BEFORE::BELOW LINE ONLY-->
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <h2>the <br>haydari <br>project</h2>
            <ion-icon name="close-outline" (click)="closeMenu()"></ion-icon>
          </ion-list-header>
          <div class="menu-list">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item *ngIf="p.shouldFunction == 0" lines="full" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <!--<ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>-->
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.shouldFunction == 1 && p.title!='Profile' && p.title!='Logout'" lines="full" lines="none" detail="false" (click)="showPoemByPoemTypeORSubjectOccassion(p.id,p.title,'by_poem_type')">
                <!--<ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>-->
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.shouldFunction == 1 && p.title=='Profile'" lines="full" lines="none" detail="false" (click)="showMyProfile()">
                <!--<ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>-->
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.shouldFunction == 1 && p.title=='Logout' && is_user_login==true" lines="full" lines="none" detail="false" (click)="Logout()">
                <!--<ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>-->
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>            
            </ion-menu-toggle>
          </div>
          <ion-item class="btm-cpr-cnt">© Copyright 2021 The Haydari Project</ion-item>
        </ion-list>        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" [swipeGesture]="true"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
