ion-menu {
	--background: rgba(152,168,134);
	opacity: 0.95;
	ion-content {
		--background: transparent;
		ion-list {
			--background: transparent;
    		background: transparent;
    		padding-left: 55px;
    		padding-top: 45px;
    		height: 100%;
    		display: flex;
		    flex-flow: column;
		    justify-content: space-between;
		    overflow: auto;
		    @media(max-width:374px) {
		    	padding-left: 50px;
    			padding-top: 40px;
		    }
			ion-list-header {
				padding-left: 0px;
				position: relative;
				overflow: initial;
				padding-bottom: 65px;
				padding-bottom: 0px;
				h2 {
					width: calc(100% - 40px);
					font-size: 44px;
					line-height: 36px;
					font-family: var(--font-LTC-Californian);
					color: var(--Black);
					margin: 0px;
					@media(max-width:374px) {
						font-size: 44px;
						line-height: 36px;
					}
				}
				ion-icon {
					position: absolute;
					top: -35px;
					right: 10px;
					color: rgba(0,0,0,0.3);
					width: 40px;
					height: 40px;
					line-height: 40px;
					font-size: 40px;
				}
			}
			ion-item {
				&.menu-list {
					width: 100%;
					display: flex;
					flex-flow: column;
					justify-content: flex-start;
					ion-menu-toggle {
						width: 100%;
						ion-item {
							ion-label {
								width: 100%;
								font-size: 22px;
								line-height: 26px;
								color: var(--Black);
								font-family: var(--font-Poppins-Medium);
								border-bottom: 1px solid #768268;
								&:last-child {
									border-bottom: 0px;
								}
							}
						}
					}
				}
			}
			.menu-list {
				width: 100%;
				display: flex;
				flex-flow: column;
				justify-content: flex-start;
				padding: 70px 0px;
				@media(max-width:374px) {
					padding: 45px 0px;
				}
				ion-menu-toggle {
					width: 100%;
					ion-item {
						ion-label {
							width: 100%;
							font-size: 22px;
							line-height: 26px;
							color: var(--Black);
							font-family: var(--font-Poppins-Medium);
							@media(max-width:374px) {
								font-size: 20px;
    							line-height: 22px;
							}
						}
					}
					padding: 24px 0px;
					border-bottom: 1px solid #768268;
					@media(max-width:374px) {
						padding: 10px 0px;
					}
					&:last-child {
						border-bottom: 0px;
					}
				}
			}
			ion-item {
				&.btm-cpr-cnt {
					width: 96%;
					display: flex;
				    justify-content: flex-start;
				    align-items: flex-end;
					padding-bottom: 20px;
					font-family: var(--font-Poppins-Reguler);
					color: rgba(0,0,0,0.7);
					font-size: 13px;
					line-height: 16px;
					min-height: 40px;
					@media(max-width:374px) {
						font-size: 12px;
					}
				}
			}
		}
	}
}