ion-header {
	--border: 0px;
	border: 0px;
	ion-toolbar {
		--background: #041f1e;
		padding: 0px 24px;
		--border: 0px;
		border: 0px;
		&.header-top-box {
			padding: 34px 24px;
			--min-height: fit-content;
		}
		ion-buttons {
			--background: transparent;
			--background-hover: transparent;
            --background-activated: transparent;
            --background-focused: transparent;
	        --color: #98a886;
	        --padding-start: 0;
	        --padding-end: 0;
	        margin: 0;
	        font-size: 25px;
	        height: fit-content;
			ion-menu-button {
				--padding-start: 0px;
				--padding-end: 0px;
				--border-radius: 0px;
				ion-icon {
					width: 40px;
					height: 40px;
					--color: #98a886;
					color: #98a886;
				}
			}
		}
		ion-button {
			--background: transparent;
			--background-hover: transparent;
            --background-activated: transparent;
            --background-focused: transparent;
	        --color: #98a886;
	        --padding-start: 0;
	        --padding-end: 0;
	        margin: 0;
	        font-size: 25px;
	        height: fit-content;
			ion-icon {}
		}
		ion-chip {
			--background: transparent;
	    	border-radius: 0px;
	    	padding: 0px;
	    	margin: 0px;
			ion-img {
				max-width: 100%;
				max-height: 100%;
				width: 40px;
				height: 40px;
				object-fit: contain;
				object-position: center;
			}
		}
	}
}
ion-content {
	--background: #041f1e;
	.mainContent {
		padding: 0px 24px 70px;
		padding: 0px 0px 70px;
		ion-list {
			&.list-boxes-main {
				margin: 0px 0px 30px;
				ion-list-header {
					--background: var(--Black);
					color: var(--White);
					width: 100%;
					text-align: center;
					margin: 0px 0px 12px;
					ion-label {
						white-space: break-spaces;
						padding: 10px 0px;
						text-transform: capitalize;
						font-size: 24px;
						line-height: 26px;
						font-family: var(--font-Poppins-Medium);
						color: var(--White);
					}
				}
				ion-item {
					padding: 16px 0px;
					margin: 0px 24px;
					align-items: flex-start;
					&.btns-sec {
						margin: 14px 0px;
						padding: 0px;
					}
					&.item-box-main {
						border-bottom: 1px solid rgba(255,255,255,0.3);
						ion-avatar {
							width: 55px;
							height: 55px;
							img {
								max-width: 100%;
								max-height: 100%;
								width: 100%;
								height: 100%;
								object-fit: contain;
								object-position: center;
								filter: invert(60%) sepia(14%) saturate(900%) hue-rotate(55deg) brightness(97%) contrast(86%);
							}
						}
						ion-label {
							padding-left: 16px;
							white-space: break-spaces;
							h6 {
								font-size: 21px;
								line-height: 23px;
								font-family: var(--font-Poppins-Medium);
								color: var(--White);
								margin: 0px 0px 8px;
								overflow: unset;
								text-overflow: unset;
							    word-break: break-word;
							}
							p {
							    font-size: 15px;
							    line-height: 23px;
							    font-family: var(--font-Poppins-Regular);
							    color: #9f9f9f;
							    margin: 0px 0px 6px;
							    overflow: unset;
								text-overflow: unset;
							    word-break: break-word;
							    &:last-child {
							    	margin: 0px;
							    }
							}
						}
						&:nth-last-child(2) {
							border-bottom: 0px;
						}
					}
					&.clr-red {
						ion-avatar {
							img {
								filter: invert(53%) sepia(37%) saturate(6840%) hue-rotate(325deg) brightness(94%) contrast(86%);
							}
						}
						ion-label {
							h6 {
								color: #e1515f;
							}
						}
					}
					&.clr-green {
						ion-avatar {
							img {
								filter: invert(63%) sepia(23%) saturate(537%) hue-rotate(55deg) brightness(90%) contrast(88%);
							}
						}
						ion-label {
							h6 {
								color: #7ea16b;
							}
						}
					}
				}
			}
		}
		.btns-sec {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin: 14px 0px;
			padding: 0px;
			ion-button {
				height: 44px;
			    --background: rgba(126,161,107,0.2);
			    color: var(--White);
			    font-size: 18px;
			    font-family: var(--font-Poppins-Light);
			    --border-radius: 30px;
			    --padding-start: 40px;
			    --padding-end: 40px;
			    text-transform: capitalize;
			    margin: 0px auto;
			    --box-shadow: none;
			}
		}
	}
}