/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html {
    //--ion-default-font: 'Poppins-Regular', BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}

:host(.item-label-stacked) .input-wrapper, 
:host(.item-label-floating) .input-wrapper {
    flex: 1 1 0% !important;
    flex-direction: column !important;
}

:root {
    --font-Poppins-Regular:'Poppins-Regular' ;
    --font-Poppins-Medium:'Poppins-Medium' ;
    --font-Poppins-Light:'Poppins-Light' ;
    --font-Poppins-Thin:'Poppins-Thin' ;
    --font-Poppins-SemiBold:'Poppins-SemiBold' ;
    --font-Poppins-ExtraBold:'Poppins-ExtraBold' ;
    --font-Poppins-Bold:'Poppins-Bold' ;
    --font-Poppins-Black:'Poppins-Black' ;
    --font-Poppins-Italic:'Poppins-Italic' ;
    --font-Poppins-Italic:'Poppins-Italic' ;
    --font-LTC-Californian:'LTCCalifornian' ;
    --White: #fff ;
    --Black: #000 ;
}

:host(.menu-list) .input-wrapper {
	display: unset !important;
}

::slotted(ion-avatar) {
    width: unset;
    height: unset;
    margin: 0px;
}

ion-grid, ion-col {
	padding: 0px;
}

ion-list {
    --ion-item-background: transparent;
    --ion-background-color: transparent;
    --border: 0px;
}

ion-list-header {
    padding: 0px;
    min-height: fit-content;
    font-weight: normal;
}

ion-item {
	--background: transparent;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --min-height: unset;
    border: none;
    --border: 0px;
    --inner-border-width: 0px;
}

ion-label {
	margin: 0px;
	border: none;
}

ion-button {
    --box-shadow: none;
}

ion-searchbar {
    padding: 0 !important;
    --padding-start: 0px;
    --padding-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding: 0px !important;
    width: 100% !important;
    height: 50px !important;
    @media screen and (max-width: 360px) {
        padding: 0px !important;
    }
    &.searchbar-should-show-clear {
        .searchbar-input-container {
            .searchbar-clear-button {
                display: none !important;
            }
        }
    }
    .searchbar-input-container {
        width: 100% !important;
        height: 100% !important;
        input {
            width: 100% !important;
            height: 100% !important;
            background-color: var(--White) !important;
            border-radius: 30px !important;
            box-shadow: none !important;
            color: var(--Black) !important;
            padding-right: 40px !important;
            padding-left: 18px !important;
            font-size: 15px !important;
            font-family: var(--font-Poppins-Medium) !important;
            font-weight: normal !important;
            --placeholder-color: var(--Black);
		    --placeholder-opacity: 1;
            @media screen and (max-width: 360px) {}
        }
        ion-icon {
            &.searchbar-search-icon {display: none !important;}
        }
        button.searchbar-clear-button {
            display: none !important;
        }
    }
}
.searchbar-has-value.searchbar-should-show-clear.sc-ion-searchbar-ios-h .searchbar-clear-button.sc-ion-searchbar-ios {
    display: none !important;
}

app-home {
    .src-box {
    	position: relative;
    	img {
    		position: absolute;
            top: 0;
            bottom: 0;
            left: 20px;
            z-index: 9;
            width: 22px;
            height: 22px;
            object-fit: contain;
            margin: auto 0px;
        }
    	ion-searchbar {
    		input {
                padding-left: 50px !important;
            }
    	}
    }
}

app-search {
    .src-box {
        position: relative;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 20px;
            z-index: 9;
            width: 22px;
            height: 22px;
            object-fit: contain;
            margin: auto 0px;
        }
        ion-searchbar {
            input {
                padding-left: 50px !important;
            }
        }
    }
}

app-library {
    .src-box {
        position: relative;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20px;
            z-index: 9;
            width: 22px;
            height: 22px;
            object-fit: contain;
            margin: auto 0px;
        }
        ion-searchbar {
            input {
                padding-right: 50px !important;
                padding-left: 20px !important;
            }
        }
    }
}

ion-app {
    background-color: #041f1e;
}