<ion-header [translucent]="true" no-border class="ion-no-border">
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>Home</ion-title>    
  </ion-toolbar> -->
	<ion-toolbar class="header-top-box">
		<ion-buttons slot="start" (click)="menu()">
			<ion-menu-button><ion-icon name="menu"></ion-icon></ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-text-center"></ion-title>
		<ion-chip slot="end"><ion-img src="../assets/images/user-icon1.png"></ion-img></ion-chip>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-header no-border class="ion-no-border">
		<ion-toolbar class="src-box">
			<img src="../assets/images/src-icon1.png">
			<ion-searchbar placeholder="Search Now"></ion-searchbar>
		</ion-toolbar>
	</ion-header>
  <div class="mainContent">
		<ion-grid class="img-cnt-sec">
			<ion-row class="title-main">
				<ion-col>
					<h2>Poem Type</h2>
				</ion-col>
			</ion-row>
			<ion-row class="img-nm-box-list">
				<ion-col class="img-nm-box-item">
					<img src="../assets/images/type-img1.png">
					<h3>Nauha</h3>
				</ion-col>
				<ion-col class="img-nm-box-item">
					<img src="../assets/images/type-img2.png">
					<h3>Marsiya</h3>
				</ion-col>
				<ion-col class="img-nm-box-item">
					<img src="../assets/images/type-img3.png">
					<h3>Qasida</h3>
				</ion-col>
				<ion-col class="img-nm-box-item">
					<img src="../assets/images/type-img4.png">
					<h3>Ghadeer</h3>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-grid class="img-cnt-sec">
			<ion-row class="title-main">
				<ion-col>
					<h2>Subject/Occasion</h2>
				</ion-col>
			</ion-row>
			<ion-row class="img-nm-box-list">
				<ion-col class="img-nm-box-item">
					<img src="../assets/images/suboc-img1.png">
					<h3>Nauha</h3>
				</ion-col>
				<ion-col class="img-nm-box-item">
					<img src="../assets/images/suboc-img2.png">
					<h3>Marsiya</h3>
				</ion-col>
				<ion-col class="img-nm-box-item">
					<img src="../assets/images/suboc-img3.png">
					<h3>Qasida</h3>
				</ion-col>
				<ion-col class="img-nm-box-item">
					<img src="../assets/images/suboc-img4.png">
					<h3>Ghadeer</h3>
				</ion-col>
			</ion-row>
			<ion-row class="btns-sec">
				<ion-col class="ion-text-center">
					<ion-button class="more-btn">see more</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
