<ion-header [translucent]="true" no-border class="ion-no-border">
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>Home</ion-title>    
  </ion-toolbar> -->
	<ion-toolbar class="header-top-box">
		<ion-buttons slot="start">
			<ion-menu-button>
				<ion-icon name="menu"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
		<ion-title class="ion-text-center"></ion-title>
		<ion-chip slot="end" (click)="showMyProfile()">
			<ion-img src="../assets/images/Profile-Icon.svg"></ion-img>
		</ion-chip>
		<!--<app-playmusic></app-playmusic>-->
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-header no-border class="ion-no-border">
		<ion-toolbar class="src-box">
			<form #searchPoemForm="ngForm" novalidate class="search-form">
				<ion-searchbar placeholder="Search Poem" type="search" autocomplete="off" autocorrect="off" spellcheck="false" name="search_text" [(ngModel)]="search_text" [ngModelOptions]="{standalone: false}" (keydown.enter)="searchPoem(searchPoemForm)"></ion-searchbar>
				<ion-button class="src-icon-btn" (click)="searchPoem(searchPoemForm)">
					<img src="../assets/images/src-icon1.png">
				</ion-button>
				<!--<ion-button class="reset-icon-btn">
					<ion-icon name="refresh-circle"></ion-icon>
				</ion-button>-->
			</form>
		</ion-toolbar>
	</ion-header>
  	<div class="mainContent">
		<ion-grid class="img-cnt-sec poem-main" *ngIf="resultAllAndResent.length > 0">
			<ion-row class="img-nm-box-list">
				<ion-col class="img-nm-box-item" (click)="showAllOrRecent('recent')">
					<div class="img-nm-box-inner" [style.background-color]="resultAllAndResent[0].recentColor">
						<img src="{{resultAllAndResent[0].recentImage}}">
						<h3>Recently Added</h3>
					</div>
				</ion-col>
				<ion-col class="img-nm-box-item" (click)="showAllOrRecent('all')">
					<div class="img-nm-box-inner" [style.background-color]="resultAllAndResent[0].allColor">
						<img src="{{resultAllAndResent[0].allImage}}">
						<h3>All Poems</h3>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-grid class="img-cnt-sec poem-main">
			<ion-row class="title-main">
				<ion-col>
					<h2>Poem Type</h2>
				</ion-col>
			</ion-row>
			<ion-row class="img-nm-box-list">
				<ion-col *ngFor="let PoemTypes of resultPoemTypes;" class="img-nm-box-item" (click)="showPoemByPoemTypeORSubjectOccassion(PoemTypes.id,PoemTypes.PoemTypeName,'by_poem_type')">
					<div class="img-nm-box-inner" [style.background-color]="PoemTypes.colorCode">
						<!--<img src="../assets/images/type-img1.png">-->
						<img src="{{PoemTypes.Image}}">
						<h3 [innerHTML]="PoemTypes.PoemTypeName"></h3>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-grid class="img-cnt-sec subject-main">
			<ion-row class="title-main">
				<ion-col>
					<h2>Subject/Occasion</h2>
				</ion-col>
			</ion-row>
			<ion-row class="img-nm-box-list hide" [ngClass]="{'show' : showAllSubjects==true}">
				<ion-col *ngFor="let SubjectOccasion of resultSubjectOccasion;" class="img-nm-box-item" (click)="showPoemByPoemTypeORSubjectOccassion(SubjectOccasion.id,SubjectOccasion.subjectName,'by_subject_occassion')">
					<div class="img-nm-box-inner" [ngClass]="{'no-image' : SubjectOccasion.Image==''}">
						<img src="{{SubjectOccasion.Image}}" *ngIf="SubjectOccasion.Image!=''">
						<h3 [innerHTML]="SubjectOccasion.subjectName"></h3>
					</div>
				</ion-col>				
			</ion-row>
			<ion-row class="btns-sec">
				<ion-col class="ion-text-center">
					<ion-button class="more-btn" (click)="showHide()" *ngIf="showAllSubjects == false">see more</ion-button><!--BEFORE::library()-->
					<ion-button class="more-btn" (click)="showHide()" *ngIf="showAllSubjects == true">see less</ion-button><!--BEFORE::library()-->
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
