ion-header {
	--border: 0px;
	border: 0px;
	ion-toolbar {
		--background: #041f1e;
		padding: 0px 24px;
		--border: 0px;
		border: 0px;
		&.header-top-box {
			padding: 34px 24px;
			--min-height: fit-content;
			@media(max-width:374px) {
				padding: 24px;
			}
		}
		ion-buttons {
			--background: transparent;
			--background-hover: transparent;
            --background-activated: transparent;
            --background-focused: transparent;
	        --color: #98a886;
	        --padding-start: 0;
	        --padding-end: 0;
	        margin: 0;
	        font-size: 25px;
	        height: fit-content;
			ion-menu-button {
				--padding-start: 0px;
				--padding-end: 0px;
				--border-radius: 0px;
				ion-icon {
					width: 40px;
					height: 40px;
					--color: #98a886;
					color: #98a886;
				}
			}
		}
		ion-button {
			--background: transparent;
			--background-hover: transparent;
            --background-activated: transparent;
            --background-focused: transparent;
	        --color: #98a886;
	        --padding-start: 0;
	        --padding-end: 0;
	        margin: 0;
	        font-size: 25px;
	        height: fit-content;
			ion-icon {}
		}
		ion-chip {
			--background: transparent;
	    	border-radius: 0px;
	    	padding: 0px;
	    	margin: 0px;
			ion-img {
				max-width: 100%;
				max-height: 100%;
				width: 40px;
				height: 40px;
				object-fit: contain;
				object-position: center;
			}
		}
	}
}
ion-content {
	--background: #041f1e;
	border: 0px;
    --border: 0px;
	.mainContent {
		padding: 0px 24px 70px;
		.img-cnt-sec {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
			margin: 26px 0px;
			.title-main {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin: 0px 0px 18px;
				h2 {
					width: 100%;
					margin: 0px;
					padding: 0px;
					font-size: 20px;
					line-height: 22px;
					font-family: var(--font-Poppins-SemiBold);
					color: var(--White);
					text-transform: capitalize;
					@media(max-width:374px) {
						font-size: 18px;
						line-height: 20px;
					}
				}
			}
			.img-nm-box-list {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				.img-nm-box-item {
					width: 50%;
    				min-width: 50%;
    				max-width: 50%;
					display: flex;
					flex-wrap: wrap;
					position: relative;
					margin: 0px 0px 16px;
					.img-nm-box-inner {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						position: relative;
						margin: 0px 8px 0px;
						img {
							max-width: 100%;
							width: 100%;
							max-height: 100%;
							height: 122px;
							border-radius: 14px;
							object-fit: cover;
							object-position: center;
							@media(max-width:400px) {
								height: 100px;
							}
						}
						h3 {
							position: absolute;
							top: 0px;
							left: 0px;
							width: 100%;
							height: 100%;
							margin: 0px;
							padding: 15px 6px 6px 12px;
							font-size: 17px;
							line-height: 25px;
							font-family: var(--font-Poppins-SemiBold);
							color: var(--White);
							text-transform: capitalize;
							text-shadow: 2px 2px 1px rgba(0,0,0,0.45);
							word-break: break-word;
							@media(max-width:374px) {
								font-size: 15px;
	    						line-height: 23px;
							}
						}
					}
					&:nth-child(odd) .img-nm-box-inner {
						margin-left: 0px;
					}
					&:nth-child(even) .img-nm-box-inner {
						margin-right: 0px;
					}
					.img-nm-box-inner::before {
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border-radius: 14px;
						// background-color: #e1515f;
						// opacity: 0.6;
					}
					&:nth-child(4n - 3) .img-nm-box-inner::before {
						background-color: #e1515f;
						opacity: 0.6;
					}
					&:nth-child(4n - 2) .img-nm-box-inner::before {
						background-color: #e1515f;
						opacity: 0.6;
					}
					&:nth-child(4n - 1) .img-nm-box-inner::before {
						background-color: #7ea16b;
						opacity: 0.6;
					}			
					&:nth-child(4n) .img-nm-box-inner::before {
						background-color: #7ea16b;
						opacity: 0.6;
					}
					.img-nm-box-inner.grey-overlay::before {
						background-color: #3c4343 !important;
						opacity: 0.6;
					}
				}
			}
			.btns-sec {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin: 14px 0px;
				ion-button {
					height: 44px;
				    --background: rgba(126,161,107,0.2);
				    color: var(--White);
				    font-size: 13px;
				    font-family: var(--font-Poppins-Light);
				    --border-radius: 30px;
				    --padding-start: 40px;
				    --padding-end: 40px;
				    text-transform: capitalize;
				    margin: 0px;
				    --box-shadow: none;
				}
			}
		}
	}
}